!!! 5
html(lang="en")
	head
		title BitAwesome
		meta(name="Description", content="Bitcoin extension for Google Chrome")
		meta(name="keywords", content="bitawesome, bitchrome, bitcoin, extension")
		link(rel="stylesheet", type="text/css", href="/stylesheets/main.css")

	body
		div.content
			!{body}

	footer
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")