html{margin:0;padding:0}
body{margin:0;padding:0;font-family:helvetica,arial,verdana,sans-serif;font-size:12px;color:#555}
div.content{margin:20px auto;padding:20px;width:400px;background:#f6f6f6;border-radius:5px;-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.25);-moz-box-shadow:0 1px 3px rgba(0,0,0,0.25);box-shadow:0 1px 3px rgba(0,0,0,0.25);}
div.content h1:first-child{margin:0 0 10px}
div.content canvas#depth{background:#eee}
