div.header

  ul.links
    li: a(href="https://github.com/cilphex/bitcoin-price-extension", target="_blank") Chrome extension
    li: a(href="https://github.com/cilphex/bitawesome.com", target="_blank") Source

  h1 BitAwesome

section#depth_canvas(ng-controller="DepthCtrl")
  
  div.options
    | Range

    ul.option-toggle
      li: a(ng-click="setRange(20)") $20
      li: a(ng-click="setRange(60)") $60
      li: a(ng-click="setRange(100)") $100
      li: a(ng-click="setRange(-1)") All

    //
      ul.option-toggle
        li: a(ng-click="setRange(10000)") B10k
        li: a(ng-click="setRange(20000)") B20k
        li: a(ng-click="setRange(40000)") B40k
        li: a(ng-click="setRange(70000)") B70k

  h2 Depth

  canvas(width="600", height="450")

section
  p Hey, here's the footer.




