div.header

  ul.links
    li: a(href="https://github.com/cilphex/bitcoin-price-extension", target="_blank") Chrome extension
    li: a(href="https://github.com/cilphex/bitawesome.com", target="_blank") Source

  h1 BitAwesome

section#depth_canvas
  
  div.options
    | Range

    ul.option-toggle
      li: a(href="#") $20
      li: a(href="#") $60
      li: a(href="#") $100
      li: a(href="#") All

  h2 Depth

  canvas(width="600", height="450")

section
  p Hey, here's the footer.
