h1 BitAwesome

p BitAwesome is an extension for Google Chrome that displays the current bitcoin exchange rate

p You can find the source for the extension and this website here:

p: a(href="https://github.com/cilphex/bitcoin-price-extension") BitAwesome Chrome extension
p: a(href="https://github.com/cilphex/bitawesome.com") BitAwesome website